*{
    font-family: roboto;
}

body{
    background-image: url(imagenes/rojo.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

/* Esto se encarga de acomodar el header --------------------------------------------------------------------------*/

.header-container img{
    float: left;
    margin-right: 20px;
}

.header-container{
    overflow: hidden;
    position: fixed;
    top: 0;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    left: 0;
}

.header-container h1{
    display:inline-flex;
}

.header-container h3{
    display:inline-flex;
    float: right;
    padding-right: 10px;
    padding-top: 25px;
}

/* Esto no se que hace pero tengo miedo de borrarlo ---------------------------------------------------------------*/

.h1-2{
    margin-left: 30px;
}

/* Esto se encarga del contenido del footer -----------------------------------------------------------------------*/

.footer-container{
    margin: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    width: 100%;
}

.footer-container h3{
    display:inline-flex;
    float: right;
    padding-right: 10px;
    padding-top: 25px;
}

/* Esto acomoda la imagen y contenedor de cada pelicula individual ------------------------------------------------*/

.img-title-description img{
    float: left;
    padding: 0px 20px;
}

.img-title-description {
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 130px;
}

/* Esto se encarga de acomodar el titulo de cada pelicula individual ----------------------------------------------*/

.movie-title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}

/* Esto se encarga de acomodar el trailer que antes era pelicual, no le cambieel nombre a la clase...--------------*/

.movie{
    display: flex;
    justify-content: center;
}

/* Esto se encarga de acomodar las peliculas del index ------------------------------------------------------------*/

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor article{
    margin-right: 10px;
    padding: 10px;
    background-color: darkred;
    margin: 0;
    border: 1px solid black;
}

/* Esto se encarga de posicionar el carrusel ----------------------------------------------------------------------*/

.conteiner{
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* Esto se encarga del contenido del login ------------------------------------------------------------------------*/

.conteiner_login{
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.conteiner_login h1{
    text-align: center;
    font-weight:700;
}

form{
    background: white;
    padding: 40px 0;
    border: 5px inset gold;
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input{
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
}

button{
    display: block;
    width: 80%;
    margin: 10px auto;
    height: 40px;
    font-size: 16px;
}

/* Estos son los botones ------------------------------------------------------------------------------------------*/

.siguiente{
    margin-left: 663px;
}
