*{
    font-family: roboto;
}

body{
    background-image: url(imagenes/rojo.jpg);
    background-size: cover;
    background-position: center;
}

.header-container img{
    float: left;
    margin-right: 20px;
}

.header-container{
    overflow: hidden;
    position: fixed;
    top: 0;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    left: 0;
}

.header-container h1{
    
    display:inline-flex;
}

.h1-2{
    margin-left: 30px;
}

.footer-container{
    bottom: 0;
    left: 0;
    background-color: red;
    width: 100%;
}

.img-title-description img{
    float: left;
    padding: 0px 20px;
}

.img-title-description {
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 130px;
}


.movie-title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}

.movie{
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 120px;
}

.contenedor article{
    margin-right: 10px;
    padding: 10px;
    background-color: darkred;
    margin: 0;
    border: 1px solid black;
}

.conteiner{
    margin-top: 120px;
}
